<h1>Gallery</h1>

<section class="gallery-panel" id="gallery-panel">
  
  <div class="dropzone" id="dropzone">
    <p>Arrastra imágenes aquí o haz click en "Añadir"</p>
    <input class="inp__file" type="file" id="upload" multiple hidden>
    <button class="btn__upload" id="uploadBtn">Añadir</button>
  </div>
 
  <div class="container">

    <div class="control-box">
      <label for="sectionSelect">Sección:</label>
      <select id="sectionSelect" class="select__section">
        <option value="carousel">Carrusel</option>
        <option value="testimony">Testimonios</option>
        <option value="profile">Acerca de</option>
        <option value="portfolio_preview">Portadas</option>
        <option value="portfolio_nf">Portfolio: Niños</option>
        <option value="portfolio_xv">Portfolio: 15 Años</option>
        <option value="portfolio_wd">Portfolio: Bodas</option>
      </select>
    </div>

    <div id="preview-container" class="preview-grid"></div>
    
    <div class="button-container">
      <button id="btnConfirmUpload" class="btn__upload">Subir fotos</button>
      <button class="btn__delete" id="deleteBtn">Eliminar</button>
    </div>
  </div>
  
  <h2 id="gallery-title">Viendo:</h2>
  <div class="grid__gallery-container" id="grid-gallery" loading="lazy"></div>
  
</section>