<h1>Gallery</h1>

<section class="gallery-panel" id="gallery-panel">

  <div class="controls">
    <input class="inp__file" type="file" id="upload" multiple hidden>
    <button class="btn__upload" id="uploadBtn">Subir Imágenes</button>
    <button class="btn__delete" id="deleteBtn">Eliminar Seleccionadas</button>
  </div>
  
  <div id="preview-container" class="preview-grid"></div>
  <button id="btnConfirmUpload" class="btn" style="display:none;">Subir fotos</button>
  
  <div class="dropzone" id="dropzone">
    <p>Arrastra imágenes aquí o haz click en "Subir"</p>
  </div>

  <div class="grid__gallery-container" id="grid-gallery"></div>
  
</section>