<h1>Gallery</h1>

<section class="gallery-panel" id="gallery-panel">
  
  <div class="dropzone" id="dropzone">
    <p>Arrastra imágenes aquí o haz click en "Añadir"</p>
    <input class="inp__file" type="file" id="upload" multiple hidden>
    <button class="btn__upload" id="uploadBtn">Añadir</button>
  </div>

  <div id="preview-container" class="preview-grid"></div>
  
  <div class="button-container">
    <button id="btnConfirmUpload" class="btn" style="display:none;">Subir fotos</button>
    <button class="btn__delete" id="deleteBtn">Eliminar</button>
  </div>
  
  
  <div class="grid__gallery-container" id="grid-gallery"></div>
  
</section>