*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: inherit;
}

h1 {
  width: 19rem;
  padding: 1rem;
}

/*.preview-grid {
    display: block; /* Cambiamos temporalmente a block para que no flote 
    min-height: 500px; /* Dale una altura exagerada para probar 
    overflow: anchor-selection; /* Intenta mantener el foco 
  } 
*/

.selection-marquee {
  position: fixed;
  border: 2px solid #1a73e8;
  background-color: rgba(26, 115, 232, .25);
  z-index: 10000;
  pointer-events: none;
  border-radius: 2px;
}

.gallery__item {
  transition: transform .2s ease;
  position: relative;
  cursor: pointer;
}

.gallery__item.selected {
  outline: 4px solid #1a73e8;
  outline-offset: -4px;
  filter: brightness(.95);
}

.gallery__item img {
  user-select: none;
  -webkit-user-drag: none;
  display: block;
  width: 30%;
  height: auto;
}

.gallery__item.selected img {
  filter: brightness(.7);
}

.btn__delete {
  display: none;
  background-color: #d93025;
  color: #fff;
}

